
.carousel-inner img {
    opacity: 0.7;
  }
  h3{
  	color: black;
  }
  p{
  	color: black;
  }
h4{
	text-align: center;
}
.fixed-footer{
width: 100%;
position: fixed;        
background: #333;
padding: 10px 0;
color: #fff;
}
.fixed-footer{
  bottom: 0;}